* {
    box-sizing: border-box;
}

.list-group-item-success:hover {
    color: #7D2932 !important;
    background-color: #F5C6CB !important;
    border-color: #D39AA0 !important;
}

.list-group-item-danger:hover {
    color: #165725 !important;
    background-color: #B1DFBB !important;
    border-color: #9BC3A4 !important;
}

main {
    width: 960px;
    margin: auto;
    section {
        margin: auto;
    }
    h2 {
        background-color: #343B40;
        color: #FCFCFC;
        height: 60px;
        font-size: x-large;
        line-height: 60px;
        padding-left: 15px;
        margin-top: 25px;
    }
}

section div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo {
    display: grid;
    grid-template-columns: 40% 60%;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2em;
    div {
        padding: 20px;
        h3 {
            margin-left: 2em;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        margin-right: 2em;
        margin-left: 2em;
        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }
    }
    ul {
        li {
            padding: 0;
            width: 400px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.complete-true {
              span {
                text-decoration:line-through;
                &:hover {
                text-decoration: none;
                }
              }
            }
            span {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding-left: 20px;
                width: 100%;
                height: 100%;
                cursor:pointer;
            }
        }
    }
}
